{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!--Bootstrap CSS-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/likes.css" />
  <!--Bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <!--Bootstrap JS-->

  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(232, 218, 68);">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">
        <!-- logo -->
        <img src="/static/logo.png" alt="" width="60" height="48" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'deals' %}">Deals</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color: black;" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Restaurants
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for data in restaurant_rating_data2 %}
              <li class="nav-item">
                <a class="nav-link" style="color: black;"
                  href="/restaurant/?id={{data.restaurant.name}}">{{data.restaurant.name}}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item" style="padding-top: 8px;">
            <a style="color: black;" class="nav-link" href="#">Welcome, {{user.username}}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <button type="submit" class="btn btn-outline-danger">Logout</button>
            </a>
          </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="accounts/login">
              <button type="submit" class="btn btn-outline-danger">Login</button>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/register">
              <button type="submit" class="btn btn-outline-danger">Sign Up</button>
            </a>
          </li>

          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <!--Navbar-->

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Rubik', sans-serif;">
  <!--Bootstrap JS-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
  <!--Bootstrap JS-->

  <!-- Name + Banner -->
  <div class="card text-center">
    <div class="card-header">
      Welcome, {{User.first_name}} {{User.last_name}}
    </div>
  </div>
  <br>

  <div class="container-md text-center" style="padding: 20px; ">
    <h3 class="card-title">{{restaurant.name}}</h3>
    <img src="/static/banners/owner-banner.jpg" style="width: 50%; height:200px; border-radius:55px; object-fit: cover;"
      class="card-img-top" alt="...">
  </div>

  <!-- Owner Information Summary -->
  <div class="card text-center">
    <!-- Other Info -->
    <div class="card-footer text-muted">
      <h3 style="color: black;">Information:</h3>
      <hr>
      <!-- Price Range -->
      <div class="row" style="padding: 25px;">
        <div class="col-sm-3" style="padding-bottom: 10px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:black">Restaurants Favorited:</h5>
              <h5 class="card-text" style="color:black">{{numfavorited}}</h5>
            </div>
          </div>
        </div>
        <!-- Cuisine -->
        <div class="col-sm-3" style="padding-bottom: 10px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:black">Food Items Liked:</h5>
              <h5 class="card-text" style="color:black">{{numliked}}</h5>
            </div>
          </div>
        </div>
        <!-- Phone Number -->
        <div class="col-sm-3" style="padding-bottom: 10px;">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:black">Deals Clipped:</h5>
              <h5 class="card-text" style="color:black">{{numclipped}}</h5>
            </div>
          </div>
        </div>
        <!-- Ratings -->
        <div class="col-sm-3" style="padding-bottom: 10px;">
          <div class="card">
            <div class="card-body">
                <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">
                    <h5 style="color: black; text-decoration: underline;" class="card-title hover-underline-animation">
                      Restaurants Reviewed:</h5>
                  </a>
              <h5 style="color:black" class="card-text">
                {{reviewed}}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Restaurant Info -->
  <!-- Owner Information Summary -->

  <div class="container my-3">
    <div class="col-md-12 text-center scrolldiv" style="padding: 10px;">
      <a href="#favoritedheading" class="btn btn-outline-danger scrollbutton" style=" border-color: red; hover-color: white; margin-right: 10px;">Favorited Restaurants</a>
      <a href="#likedheading" class="btn btn-outline-danger scrollbutton" style=" border-color: red; hover-color: white;margin-right: 10px;">Food Items Liked</a>
      <a href="#clippedheading" class="btn btn-outline-danger scrollbutton" style=" border-color: red; hover-color: white;margin-right: 10px;">Deals Clipped</a>
    </div>
  </div>
  <hr>
<style>
.scrolldiv {
  display: flex;
  justify-content: space-around;
}
.scrollbutton {
  width: 100%;
  margin: 5px; /* or whatever you like */
}
</style>

  <div data-bs-spy="scroll" tabindex="0">
    <!--Cards-->
    <br>
    <div class="row" style="padding-top: 25px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
      <h2 id="favoritedheading" style="padding-bottom:10px;">Favorited Restaurants:</h2>
      <hr>
      {% for favorite in favorited %}
      <div class="col-sm-4" style="padding-bottom: 20px;">
        <div class="card">
          <img src="/static/restaurant/{{favorite.image_name}}" style="height: 300px; object-fit: cover;"
            class="card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">{{favorite.name}}</h5>
            <br>
            <button type="button" class="btn btn-outline-danger" style=" border-color: red; hover-color: white;"
              data-bs-toggle="modal" data-bs-target="#exampleModalToggle-{{favorite.id}}">
              Menu
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row" style="padding-top: 25px; padding-left: 50px; padding-right: 50px; padding-bottom: 50px">
        <h2 id="likedheading" style="padding-bottom:10px;">Liked Food Items:</h2>
        <hr>
        {% for like in liked %}
        <div class="col-sm-4" style="padding-bottom: 20px;">
          <div class="card">
            <img src="/static/fooditem/{{like.image_name}}" style="height: 300px; object-fit: cover;"
              class="card-img-top " alt="...">
            <div class="card-body">
              <h5 class="card-title">{{like.name}}</h5>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    <div class="row" style="padding: 50px">
      <h2 id="clippedheading" style="padding-bottom:10px;">Deals Clipped</h2>
      <hr>
      {% for clip in clipped %}
      <div class="col-sm-4" style="padding-bottom: 20px;">
        <div class="card">
          <img src="/static/deals/{{clip.image_name}}" style="height: 300px; object-fit: cover;" class="card-img-top "
            alt="...">
          <div class="card-body">
            <h4 class="card-title">{{clip.name}}</h4>
            <h5 class="card-title">Code: {{clip.code}}</h5>
            <p>{{clip.restaurant.name}}</p>
          </div>
        </div>
      </div>
      {%endfor%}
</div>
</body>

<!-- Modal -->
<div class="modal fade" id="exampleModalToggle" aria-labelledby="exampleModalToggleLabel" tabindex="-1"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Reviews</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card text-center">
          <h5 class="card-header">Overview</h5>
          <div class="card-body">

            {% for c in distributions %}
            <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 10px;">
              <div style="width: 100px; text-align: right; margin-right: 10px;">{{c.rating}} <i style="color: gold"
                  class="fa fa-star"></i></div>
              <div class="progress" style="width: 50%; flex-grow: 1;">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="{{ c.distribution }}"
                  aria-valuemin="0" aria-valuemax="100" style="width: {{ c.distribution }}%;">
                </div>
              </div>
            </div>
            <br>
            {% endfor %}

            <h5 class="card-title">
              <h5 class="card-title">
                {%if reviewed == 0%}
                You Haven't Left Any Reviews Yet
                {% elif rating is 1%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif rating is 2%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif rating is 3%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif rating is 4%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif rating is 5%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                {% endif %}
              </h5>
              {%if rating == 0%}

              {% else %}
              <p class="card-text">You have left {{reviewed}} reviews with an average rating of {{rating}}.0</p>
              {%endif%}
          </div>
        </div>

        <h5 class="card-title">
          <br>
          {% for review in reviews%}
          <div class="card">
            <div class="card-header">
              {{review.restaurant}}
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {%if rating is None%}
                No Reviews
                {% elif review.rating is 1%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 2%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 3%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 4%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 5%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                {% endif %}
              </h5>
              <p class="card-text">{{review.review}}</p>
            </div>
            <div class="card-footer text-muted">
              {{review.created_at}}
            </div>
          </div>
          <br>
          {% endfor %}
      </div>
    </div>
  </div>
</div>
</html>