<div class="modal fade" id="exampleModalToggle" aria-labelledby="exampleModalToggleLabel" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Reviews</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">

          {% for review in reviews%}
          <div class="card">
            <div class="card-header">
              {{review.reviewer}}
            </div>
            <div class="card-body">
              <h5 class="card-title">{%if rating is None%}
                No Reviews
                {% elif review.rating is 1%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 2%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 3%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 4%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: #999" class="fa fa-star"></i>
                {% elif review.rating is 5%}
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                <i style="color: gold" class="fa fa-star"></i>
                {% endif %}
              </h5>
              <p class="card-text">{{review.review}}</p>
            </div>
            <div class="card-footer text-muted">
              {{review.created_at}}
            </div>
          </div>
          <br>
          {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="exampleModalToggle2" aria-labelledby="exampleModalToggleLabel2" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hide this modal and show the first with the button below.
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open first modal</button>


  {% for c in cuisines %}
  {%if data.restaurant.cuisine == c %}
  {%endif%}
  {%endfor%}